// Place all the styles related to the WebGame controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_label {
  display: inline-block;
  width: 103px;
  text-align: right;
  margin: 10px 10px 10px 0;
}

.form_div {
  width: 210px;
}

.form_select {
  display: inline-block;
}

.form {
  margin: auto;
  width: 210px;
}
