<div style="width: 300px; margin: 100px auto 100px auto;">
  <table>
    <tr>
      <% @game.board[].each_with_index do |square, index| %>
        <% if index % 3 == 0 %>
         </tr><tr>
        <% end %>
        <td id="<%=index %>" class="square"><%= square %></td>
      <% end %>
    </tr>
  </table>
</div>
<h3>Web Game from db</h3>
              <%= @web_game.inspect %>
</div>
